body {
  background: #00b3e6;
  width: 100%;
  height: 100%;
  margin: 0;
}

div {
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue";
  background: white;
  padding: 30px;
}

  header h1 {
    text-align: center;
  }

  nav a {
    padding: 10px;
    background-color: grey; 
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white; 
  }

  nav {
    text-align: center;
  }

  #featured-property img {
    display: block;
    margin: 0 auto;
  }
  figcaption {
    text-align: center;
    font-size: 12px;
  }
  #featured-property p {
    width: 800px;
    margin: 20px auto; 
    text-align: center;
  }
  #details div {
    float: left;
    width: 25%; 
    text-align: center;
    background-color: #f4f4f4; 
    padding: 10px;
    box-sizing: border-box;
  }